<div class="form-group">
    <label for="activitySelect">Select an Activity</label>
    <select class="form-control" id="activitySelect">
      <option>Running</option>
      <option>Biking</option>
      <option>Swimming</option>
      <option>Hiking</option>
    </select>
    <label for="Date">Date:</label>
    <input placeholder="Post Body" type="date" class="form-control" id="date"></input>
    <label for="Distance">Distance:</label>
    <input placeholder="Post Body" type="text" class="form-control" id="distance"></input>
    <button type="submit" class="btn btn-success submit" id="submitActivity">Submit</button>
</div>


<div class="container" style="background-color: white">
    <ul>
        {{#each Users}}
        <p id="name">{{name}}</p>
        <p>{{username}}</p>
        <p id="userId">{{id}}</p>
            {{#each activities}}
            <li>Date: {{workoutDate}}</li>
            <li>Activity: {{activity}}</li>
            <li>Distance: {{distances}}</li>
            {{/each}}
        {{/each}}
    </ul>
</div>


